@model IEnumerable<ToDoList.Models.ToDo>

@{
    ViewBag.Title = "   ";
}
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("Your item expired !!!");
        }
    </script>
    <h2 class="alert alert-danger" role="alert">
        @ViewBag.Message
    </h2>
}

<div id="tableDiv"></div>
<br />
<p><a href="@Url.Action("Create", "ToDoes")" class="btn btn-primary btn-lg"><span>Add New Item</span></a></p>


@section Scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Custom_Scripts/BuildTable.js"></script>
}

