 @{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Welcome to ToDo List Application</h1>
        <p class="lead">ToDo List application is developed by using C#, MVC Architecture and Entity Framework for a task in Inveon.</p>
        <p><a href="@Url.Action("Index", "ToDoes")" class="btn btn-primary btn-lg"><span>My ToDo List &raquo;</span></a></p>
    </div>